<footer>

    <p class="text-center">Made by UofT students, for UofT students.</p>
    <div style="text-align: center">
        <a href="https://github.com/cobalt-uoft/cobalt">
            <i class="fa fa-mouse-pointer" aria-hidden="true"></i> Cobalt API
        </a>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="Assets/Javascript/logincheck.js"></script>
</body>

</html>